# Ignore node_modules (already included in .gitignore)
node_modules

# Ignore version control system files
.git/
.gitignore

# Ignore package manager lock files
package-lock.json
yarn.lock

# Ignore other unnecessary files
Dockerfile
.dockerignore